@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  /*--color: #00a8e8*/
  --color: #ffac4a;
}
.top {
  height: 40vh;
  width: 100%;
  background-color: var(--color);
  border-radius: 0% 100% 0% 100% / 64% 0% 100% 36%;
  position: fixed;
  animation: spawn 0.7s ease;
}

.title {
  font-size: 32px;
  color: #f5f5f5;
  font-weight: 800;
  margin-left: 15px;
}
.title a {
  color: #f5f5f5;
  margin: 0 5px;
  font-size: 28px;
}
.vide {
  height: 35px;
}
.rond {
  border-radius: 41% 59% 65% 35% / 36% 35% 65% 64%;
  height: 150px;
  width: 150px;
  position: absolute;
  top: -15px;
  right: 0px;
  background-color: #f5f5f5;
  z-index: 100;
  animation: spawnRond 0.7s ease;
  transform-origin: center;
}

.paragrapheSecond {
  opacity: 0.8;
  margin: 9vh auto 10px auto;
  color: white;
  width: 75%;
  text-align: justify;
}

.login-box h2 {
  margin: 15px 0 10px 0;
  padding: 0;
  color: black;
  text-align: center;
  height: 10%;
}
.login-box #titleInter {
  margin: 0 10px 25px 10px;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.login-box {
  animation: spawnBox 1s ease;
  position: absolute;

  left: 50%;
  transform: translate(-50%, -50%);

  margin-top: 450px;
  width: 300px;
  height: 450px;
  padding: 20px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0px 0px 16.4px rgba(0, 0, 0, 0.032),
    0px 0px 54.9px rgba(0, 0, 0, 0.048), 0px 0px 246px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
}
.login-box form {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}

#icon1,
#icon2 {
  transform: translateY(-12px);
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 15px;
  color: black;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ffac4a;
  font-size: 12px;
  border-color: 1px black;
}
.btnListe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.login-box form a {
  border: solid 1px #ffac4a;
  border-radius: 5px;
  padding: 10px 20px;
  color: black;
  font-size: 16px;
  text-decoration: none;

  overflow: hidden;
  transition: 0.5s;
  box-shadow: 0px 0px 8.7px rgba(0, 0, 0, 0.035),
    0px 0px 40px rgba(0, 0, 0, 0.07);
}

.login-box #btn2 {
  background: #ffac4a;
  color: #fff;
  border-radius: 5px;
}

.login-box p {
  font-size: 15px;
  padding-top: 20px;
}

.inputPassword {
  display: flex;
  align-items: center;
}

.inputPassword input {
  letter-spacing: 1px;
}
.inputPassword i {
  opacity: 0.7;
}
#forgot_account {
  color: black;
  opacity: 0.7;
}
.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, black);
  animation: btn-anim1 1s linear infinite;
}
.txtCreate {
  position: absolute;
  bottom: 25px;
}
.txtCreate p,
#forgot_account {
  padding-top: 5px;
}
.txtCreate p:nth-child(1) {
  opacity: 0.7;
}
.txtCreate p:nth-child(2) {
  color: blue;
}

@keyframes spawn {
  0% {
    height: 0;
    width: 0;
    transform: translate(-150px, -150px);
    border-radius: 50%;
  }
  50% {
    border-radius: 50%;
  }

  100% {
    transform: translate(0, 0);
    border-radius: 0% 100% 0% 100% / 64% 0% 100% 36%;
    height: 40vh;
    width: 100%;
  }
}

@keyframes spawn2 {
  0% {
    height: 0;
    width: 0;
  }
  50% {
    height: 0;
    width: 0;

    border-radius: 50%;
    transform: translate(-150px, -1500px);
    top: 0;
  }
  75% {
    border-radius: 50%;
  }

  100% {
    border-radius: 0% 100% 0% 100% / 64% 0% 100% 36%;
    height: 20vh;
    width: 100%;
    transform: scale(-1) translate(0, 0);

    bottom: 0;
  }
}

@keyframes spawnRond {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes spawnBox {
  0% {
    transform: translate(-50%, 200%);
  }
  50% {
    transform: translate(-50%, 200%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.txtCreate .signup {
  color: blue;
  border: none;
  padding: 0;
  border-radius: 0;
}

.slider {
  display: flex;
}
#c1,
#c2,
#c3 {
  height: 8px;
  width: 8px;
  margin: 0 4px;
  border-radius: 4px;
  background-color: var(--color);
  transition: all 0.2s ease;
  transform-origin: center;
}
.crempli {
  width: 24px !important;
  margin: 0 2px !important;
}

.btnForm {
  display: flex;
  width: 120%;
  justify-content: space-around;
}

.top2 {
  height: 20vh;
  width: 100%;
  background-color: var(--color);
  border-radius: 0% 100% 0% 100% / 64% 0% 100% 36%;
  position: fixed;
  animation: spawn2 1.4s ease;
  transform: scale(-1);
  bottom: 0;
}

/*
#partie2 {
  animation: spawnForm2 0.7s ease;

}
#partie1 {
  animation: spawnForm1 0.7s ease;

}*/
@keyframes spawnForm1 {
  0% {
    transform: scale(0);
    position: fixed;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spawnForm2 {
  0% {
    transform: scale(0);
    position: fixed;
  }
  100% {
    transform: scale(1);
  }
}
